@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap");

html{
    overflow-x: hidden;
    font-family: 'Ubuntu Mono', monospace;
    color: black;
    text-align: center;
}

h2{
    padding-left: 0;
    text-align: left;
    color: #4D4D4D;
    font-size: 40px;
}

h3{
    padding-left: 0;
    color: #A8D386;
    font-size: 55px;
    text-align: left;
}

li{
    text-align: left;
    font-size: 40px;
    color: #888888;
}

a{
    color: #4D4D4D;
}

p{
    padding-left: 70px;
    max-width: 70%;
    text-align: left;
    font-size: 40px;
    color: #888888;
}

body{
    background-color: white;
    margin: 0;
}

br{
    line-height: 5px;
}

footer {
    height:100px;
    display: flex;
    flex-direction:column;
    width: 100%;
}

img{
    user-select: none;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.icon{
    transition: all 0.5s ease-in-out;
    padding-right: 20px;
    padding-left: 20px;
    
}

.icon:hover{
    color: #A8D386;
}


.navcont{
    font-size: 50px;
    color: #A8D386;
    background: white;
    text-decoration: none;
    width: 200px;
    height: 70px;
    background-color: white;
    flex-direction: row;
}

.navcont:hover{
    background-color:#cfcfcf;
}

.container{
    margin-left: 15%;
    margin-right: 15%;
    width: 90%;
    height: 100%;
}

.footer{
    margin: auto;
}

.spacer{
    line-height: 50px;
}

.blank{
    line-height: 280px;
}

.inlinelink{
    color: #A1EC66;
}

.skillbar{
    width: 80%; 
    height: 50px;
    background-color: #E9E9E9;
    user-select: none;
}

.indented{
    padding-left: 40px;
}

.errormessage{
    color: black;
    text-align: center;
}

#python{
    width: 92%;
    height: 50px;
    background-color: #8697D3;
}

#jsts{
    width: 85%;
    height: 50px;
    background-color: #95D386;
}

#java{
    width: 80%;
    height: 50px;
    background-color: #FFA858;
}

#cpp{
    width: 73%;
    height: 50px;
    background-color: #f655fc;
}

#header{
    flex-direction: row;
    position: absolute;
    margin-top: 7%;
    margin-left: 15%;
}

#title{
    color: white;
    position: absolute;
    font-size: 85px;
    margin-top: 1.5%;
    margin-left: 50%;
}

#SmolBar{
    z-index: -1;
    margin-top: 20px;
    margin-left: 30%;
    width: 65%;
    height: auto;
    position: absolute;
}

#TopBar{
    z-index: -2;
    margin-top: 50px;
    margin-left: 5%;
    width: 95%;
    height: auto;
    position: absolute;
}

#pfp{
    width: 500px;
    height: auto;
}

@media screen and (max-width:740px) {

    body {
        width:100vw;
    }
    .cont {
        width:93vw;
        margin-left:4vw;
        margin-right:3vw;
    }
}

@media screen and (max-width: 1000px){
    #TopBar {display: none;}
    #SmolBar {display: none;}
    #Title {display: none;}
}