

.contactButton{
    margin-top: 5vh;
    margin-right: 90%;
}

.navcont{
    user-select: none;
    font-size: 40px;
    color: #A8D386;
    background: white;
    text-decoration: none;
    width: 100%;
    padding: 1%;
    background-color: white;
    flex-direction: row;
}

.navcont:hover{
    background-color:#cfcfcf;
}

.link{
    background-color: transparent;
    margin-left: .5vw;
}

.social{
    list-style-type: none;
}

#SmolBar{
    z-index: -1;
    margin-top: 0;
    margin-left: 30%;
    width: 65%;
    height: auto;
    position: absolute;
}

#title{
    text-align: center;
    font-size: 55px;
}

#TopBar{
    z-index: -2;
    margin-top: 5vh;
    margin-left: 5%;
    width: 100%;
    height: auto;
    position: absolute;
}

#navBar{
    z-index: -2;
    margin-top: 5vh;
    margin-left: 5%;
    width: 96%;
    height: auto;  
}

#pfp{
    z-index: -3;
    user-select: none;
    padding-top: 13%;
    padding-bottom: 4%;
    position: relative;
    width: 25vw;
    height: auto;
}

#coffee{
    width: 65vw;
    height: auto;
}
#gallery{
    width: 30vw;
    height: auto;
}
